*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: wheat;
    margin: 0;
    padding: 0;
}

header {
    background: orange;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}



nav ul {
    list-style-type: none;
    padding: 0;
    color: black;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
