*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: wheat;
    margin: 0;
    padding: 0;
}

header {
    background: orange;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}



nav ul {
    list-style-type: none;
    padding: 0;
    color: black;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 15px;
    color: white;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #c9302c;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contato{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}